
@{
    ViewBag.Title = "Home";
}


<div class="row">
    <div class="col-md-12 pageheading">
        <h1>Gala</h1>
        <h5><i>Songs for all moods!!!</i></h5>

    </div>
</div>

Contents cannot be displayed. Please try again later!!!

