@model MusicStore.Core.Models.CartAmount
@{
    ViewBag.Title = "Cart";
}

<div class="row">
    <div class="col-md-12 cartHeader">
        <h1>Items in cart</h1>
    </div>
</div>
@Html.Action("cartlist", "Cart")

<hr />
@if (TempData["TotalPrice"] != null)
{
    <form action="pay/creditcard" method="post">
        <div class="row">
            <div class="col-md-3">
                <h3>Total:@TempData["TotalPrice"]</h3>
                @Html.HiddenFor(m => m.amount, new { Value = TempData["TotalPrice"] })
            </div>

            <div class="col-md-offset-6 col-md-3">
                <button type="submit" class="btn btn-primary btn-lg ">
                    PROCEED TO PAY<span class="glyphicon glyphicon-chevron-right"></span>
                </button>

                <!--   <button type="button" class="btn btn-primary btn-lg " onclick="proceedToPay(@@price)">
                       PROCEED TO PAY<span class="glyphicon glyphicon-chevron-right"></span>-->

            </div>
        </div>
    </form>
}